<section data-ng-controller="Test1sController" data-ng-init="find()">
    <div class="page-header">
        <h1>Test1s</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="test1 in test1s" data-ng-href="#!/test1s/{{test1._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="test1.created | date:'medium'"></span>
				by
				<span data-ng-bind="test1.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="test1.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!test1s.$resolved || test1s.length">
    	No Test1s yet, why don't you <a href="/#!/test1s/create">create one</a>?
    </div>
</section>